/* https://chrisk91.me/2017/12/20/Sharing-CSS-across-multiple-cards-in-Anki.html*/
/* @import url("_anki_base.css"); */
/* Careful this is used across multiple cards */
/* See tailwind classes further below */

/* See also the editor and field CSS in the modifier plugin */
/* code '/Users/gandersen/Library/Application Support/Anki2/addons21/181103283/user_files' */
/* No restart is needed as the plugin page suggests */

/* <div class="text-justify m-auto max-w-2xl"> */
@import url("_agate.min.css");
@import url("_tailwind.css");
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css"); */
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github.min.css"); */
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/agate.min.css"); */

pre[class^="language-"] {
  display: inline-block
}

button {
  border-radius: 5px;
  margin: 0px;
}

.box {
  white-space: pre-wrap;
  font-family: monospace;
  border: 1px solid rgba(128, 128, 128, 0.5);
}

.back js:not([nohide]) {
  display: none;
}

/* Cloze */
.front .backOnly {
  display: none;
}

.clozeOnly {
  display: none;
}

.cloze>.clozeOnly {
  display: inherit;
}

/* To sort */

.faded-out {
  opacity: 0;
  transition: 1s all;
}

.card {
  font-family: arial;
  font-size: 20px;
  text-align: center;
  color: black;
  background-color: white;
}

.cloze {
  font-weight: bold;
  color: blue;
}

.nightMode .cloze {
  color: lightblue;
}

iframe {
  border: none;
}

.flip {
  transform: scaleX(-1)
}

.shake {
  display: inline-block;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.break-out {
  width: 1200px;
  position: relative;
  display: block;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}